@tailwind base;
@tailwind utilities;
@tailwind components;

/* this is global style property  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Eudoxus Sans", sans-serif;
    scroll-behavior: smooth;
  }

